.container {
	display: flex;
	justify-content: center;
}

.info-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1em;
}
.calc-container {
	display: flex;
	flex-direction: column;
}

mat-card {
	margin: 1em;
	margin-top: 2em;
	max-width: fit-content;
}

form {
	margin-left: 1em;
	margin-right: 1em;
}

mat-form-field {
	margin-right: 0.4em;
}

mat-card-title {
	margin: 1em;
}

mat-list {
	display: flex;
}

button {
	margin: 1em;
}

.pace-results {
	display: flex;
	flex-direction: column;
	margin: 2em;
	font-size: 1.1em;
}
