<div class="container">
  <div class="calc-container">
    <mat-card>
      <mat-card-title>{{title}}</mat-card-title>
    <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Exercices</mat-label>
      <input matInput placeholder="" type="number" min=0 max=10 required name="exercices" [(ngModel)]="current_ex">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Score</mat-label>
      <input matInput placeholder="" type="number" min=0 required name="score" [(ngModel)]="current_score">
    </mat-form-field>
  </form>
      <button mat-raised-button color="primary" (click)="calculatePace()" [disabled]="!isValid()">Pace</button>
  </mat-card>
  <div class="pace-results" *ngIf="showResults">
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{ pst_time }}</span>
          <span matListItemLine>Server time</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ resets_left }}</span>
          <span matListItemLine>Resets left</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ exercises_left }}</span>
          <span matListItemLine>Exercices left</span>
        </mat-list-item>
      </mat-list>
      <mat-list class="scores">
        <mat-list-item>
          <span matListItemTitle>{{ pace[0] }}</span>
          <span matListItemLine>-1</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ pace[1] }}</span>
          <span matListItemLine>+0</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ pace[2] }}</span>
          <span matListItemLine>+1</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ pace[3] }}</span>
          <span matListItemLine>+2</span>
        </mat-list-item>
      </mat-list>
  </div>
</div>