.container {
	display: flex;
	justify-content: center;
}

.calc-container {
	flex-direction: column;
}

mat-card.calc-input {
	margin: 1em;
	margin-top: 2em;
}

mat-card {
	margin: 1em;
}

form {
	margin-left: 1em;
	margin-right: 1em;
}

mat-form-field {
	margin-right: 0.4em;
}

mat-card-title {
	margin: 1em;
}

mat-list {
	display: flex;
}

mat-list.server-info {
	margin-left: 1em;
}

button {
	margin: 1em;
}

.pace-results {
	display: flex;
	flex-direction: column;
	font-size: 1.1em;
}
